[MESSAGES CONTROL]
disable=logging-fstring-interpolation,single-string-used-for-slots

[BASIC]
argument-naming-style=any
attr-naming-style=any
variable-naming-style=any
const-naming-style=any
function-naming-style=any
method-naming-style=any

[DESIGN]
# Maximum number of arguments for function / method.
max-args=6
