dist: jammy
language: python
jobs:
  - python: 3.9
    env:
      - MPYC_NOPRSS=1
    install: pip install numpy==1.22.* gmpy2
  - python: pypy3.9-7.3.9
    install: pip install numpy==1.23.*
  - python: 3.10
    env:
      - MPYC_NONUMPY=1
      - MPYC_NOGMPY=1
  - python: 3.11
    install: pip install numpy gmpy2
before_install:
  - pip install --upgrade pip
  - pip install coverage
script: coverage run --source mpyc -m unittest discover tests
after_success:
  - curl -Os https://uploader.codecov.io/latest/linux/codecov
  - chmod +x codecov
  - ./codecov
